<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link type="text/css" rel="stylesheet" href="css/index.css">
    <link type="text/css" rel="stylesheet" href={{css}}>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>

    <nav>
        <a href="hangman"><p>Hangman</p></a>
        <a href="memory"><p>Memory</p></a>
        <a href="rock-paper-scissors"><p>Rock Paper Scissors</p></a>
        {{!-- <a href="tetris"><p>Tetris</p></a> --}}
        <a href="tic-tac-toe"><p>Tic-Tac-Toe</p></a>
    </nav>

    {{{body}}}

<script type="text/javascript" src={{js}}></script>
</body>
</html>