<h1>Rock, Paper, Scissors</h1>

<button id = "startButton">Start Game</button>

<h2 id="result"></h2>

<div id = "hands">
    <p id="rock"><button class="rps-button"><i class="far fa-hand-rock"></i></button></p>
    <p id="paper"><button class="rps-button"><i class="far fa-hand-paper"></i></button></p>
    <p id="scissors"><button class="rps-button"><i class="far fa-hand-scissors"></i></button></p>
</div>

<div>
    <p id = "random-hand-picked"></p>
</div>