
    <div class="grid grid-center container">
        <div class="title">
          <h1>Tetris</h1>
        </div>
        <div class="result"></div>
        <div class="grid tetris-container">
            <div class="text-center">
                <p>Preview</p>
                <canvas id="preview-canvas"></canvas>
            </div>
            <canvas id="tetris-canvas"></canvas>
        </div>
    </div>