<div>
    <div>
        <button class="top-one"></button><button class="top-two"></button><button class="top-three"></button>
    </div>
    <div>
        <button class="middle-one"></button><button class="middle-two"></button><button class="middle-three"></button>
    </div>
    <div>
        <button class="bottom-one"></button><button class="bottom-two"></button><button class="bottom-three"></button>
    </div>
</div>