<div class="title">
    <h1>Tic-Tac-Toe</h1>
</div>
<div class="game-container">
    <div class="top-row">
        <button class="top-one"></button><button class="top-two"></button><button class="top-three"></button>
    </div>
    <div class="middle-row">
        <button class="middle-one"></button><button class="middle-two"></button><button class="middle-three"></button>
    </div>
    <div class="bottom-row">
        <button class="bottom-one"></button><button class="bottom-two"></button><button class="bottom-three"></button>
    </div>
</div>