<div id="lettersGuessedDiv">
  <p id="lettersGuessed">Guessed: </p>
</div>
<div class="container">
  <div class="info-div">
    <div id="instructions">
      <p>Get 6 wrong and you lose.</p>
      <p id="wrongText">Wrong: 0</p>
    </div>
  </div>
  <div>
    <div id="main">
      <h1>Hangman</h1>
      <button>Start Game</button>

      <h2 id="result"></h2>
      <p id="clue"></p>

      <div id="guessSet">
        <p class="guess">Guess a letter:</p>
        <input type="text" maxlength="1" />
      </div>
    </div>
    <div id="phrase-div">
      <p id="phraseDisplay"></p>
    </div>
  </div>
  <div>
  </div>
</div>