.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

#clue{
    margin: 40px 0 10px 0;
    color: white;
}

#phrase-div{
    font-size: 40px;
    margin: 50px 5px 0 5px;
    color: white;
}

.guess{
    color: white;
    display: inline-block;
    margin: 0 0 10px 0;
}

#result{
    margin: 50px 0 0 0;
    font-size: 40px;
}

#lettersGuessedDiv{
    margin: 0;
    padding: 5px 0;
    background-color: #cfcfcf;
    text-transform: uppercase;
    font-size: 30px;
}

#lettersGuessed{
    margin: 0;
}

#instructions{
    padding: 0;
    margin:  0 5px;
    text-align: left;
    color: white;
}

.hangman-img{
    width: 300px;
    margin: 0;
    float: left;
    padding-left: 0%;
}

#imgMain{
    display: grid;
    justify-items: center;
}

#imgMain img{
    display: inline-block;
    margin: 0;
}

#imgMain #main{
    padding-right: 20%;
    display: inline-block;
}