
html, body{
    text-align: center;
    margin: 0 auto;
    background: #F7971E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: "Delius Unicase";
    color: #4C1600;
}

h1{
    text-align: center;
    padding: 0 0 30px 0;
    font-size: 50px;
    margin: 0;
}

button{
    text-align: center;
    font-size: 23px;
    padding: 4px;
    border-radius: 8px;
    font-family: "Delius Unicase";
    background-color: #4C1600;
    color: white;
    border: black solid 2px;
}

input{
    width: 20px;
    font-size: 23px;
}

#phrase-div{
    font-size: 40px;
    margin: 50px 5px 0 5px;
}

#guessSet .guess{
    display: inline-block;
    margin: 0 0 10px 0;
}

#result{
    margin: 50px 0 0 0;
    font-size: 40px;
}

#clue{
    margin: 40px 0 10px 0;
}

#lettersGuessedDiv{
    margin: 0;
    padding: 5px 0;
background: #f12711;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-transform: uppercase;
    font-size: 30px;
}

#lettersGuessed{
    margin: 0;
}

#instructions{
    padding: 0;
    margin:  0 5px;
    text-align: left;
}

img{
    width: 300px;
    margin: 0;
    float: left;
    padding-left: 0%;
}

#imgMain img{
    display: inline-block;
    margin: 0;
}

#imgMain #main{
    padding-right: 20%;
    display: inline-block;
}